body{
  font-size: 100%;
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
}

.container{
  background: url(../img/hero-small.jpg) no-repeat fixed center;
  background-size: cover;
}

h1{
  font-family: 'Anton', sans-serif;
  font-size: 1.25rem;
  color: #403f3f;
}

nav ul{
    list-style: none;
    margin: 0;
    position: fixed;
    height: 100%;
    top: 0;
    left: -300px;
    background-color: #f8f8f4;
    z-index: 1;
}

a {
    text-decoration: none;
    color: #c0bcb4;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 1px solid #c0bcb4;
    box-shadow: 2px 2px 2px  #c0bcb4;
    align-items: center;
    background-color: transparent;
}

ul li{
  list-style: none;
  margin-right: 1rem;
}

ul a:hover {
    text-decoration: underline;
}

nav ul a {
    font-weight: 900;
    display: block;
    margin: 1rem 0;
}

.nav-btn {
   background-color: transparent;
   border: none;
}

.nav-btn:focus {
  outline: none;
  box-shadow: none;
}

.social{
  display: flex;
}

.show-nav{
  padding:  2rem;
  transform: translateX(300px);
  -webkit-transition: transform .5s ease-in-out;
  -moz-transition: transform .5s ease-in-out;
  -ms-transition: transform .5s ease-in-out;
  -o-transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
 }

@media(min-width: 768px) {
  main, nav {
    max-width: 1440px;
    margin: 0 auto;
  }
  .container{
    background: url(../img/hero-img.jpg) no-repeat fixed center;
    background-size: cover;
    min-height: 100vh;
  }
  main{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }
  
  .img{
    width: 70%;
  }
    .nav-btn {
      display: none;
    }

    nav{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    nav ul{
      padding: 0;
      position: static;
      display: flex !important;
      background-color: transparent;
      transform: unset;
      transition: unset;
    }

    nav li {
      margin-right: 2em;
    }

    nav li:last-child{
        margin-right: 0;
      }

    a{
        color: #c0bcb4;
    }

  }
